<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rayhan.kawan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".DetailKulinerJamsitActivity"
            android:exported="true" />
        <activity
            android:name=".DetailKulinerWarkopNanYoActivity"
            android:exported="true" />
        <activity
            android:name=".DetailKulinerSateDDActivity"
            android:exported="true" />
        <activity
            android:name=".DetailKulinerPauhPiamanActivity"
            android:exported="true" />
        <activity
            android:name=".DetailKulinerKatupekPitalahActivity"
            android:exported="true" />
        <activity
            android:name=".DetailKulinerEsDurianIkoGantinyoActivity"
            android:exported="true" />
        <activity
            android:name=".DetailKulinerEsDurianGantiNanLamoActivity"
            android:exported="true" />
        <activity
            android:name=".DetailKulinerLamunOmbakActivity"
            android:exported="true" />
        <activity
            android:name=".MoreHighlightWisataActivity"
            android:exported="true" />

        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>